# Ignore frontend files from language statistics

templates/* linguist-vendored
static/* linguist-vendored
assets/* linguist-vendored

*.html linguist-vendored
*.css linguist-vendored
*.js linguist-vendored